<li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
<% if (ref) { %>
  <li><a href="<%= url.refs(repo) %>">Refs</a></li>
  <li><a href="<%= url.ref(repo, ref) %>"><%= ref %></a></li>
  <li><a href="<%= url.refTreeEntry(repo, ref) %>/">Tree</a></li>
<% } else { %>
  <li><a href="<%= url.commit(repo, commit) %>"><%= commit %></a></li>
  <li><a href="<%= url.commitTreeEntry(repo, commit) %>">Tree</a></li>
<% } %>

<%
  var progress = "";
  for (var i = 0; i < pathParts.length; i++) {
  var part = pathParts[i];
  progress += '/' + part;
%>
  <% if (i == pathParts.length - 1) { %>
    <li><%= part %></li>
  <% } else { %>
    <li class="active">
      <% if (ref) { %>
       <a href="<%= url.refTreeEntry(repo, ref, progress) %>"><%= part %></a></li>
      <% } else { %>
        <a href="<%= url.commitTreeEntry(repo, commit, progress) %>"><%= part %></a>
      <% } %>
    </li>
  <% } %>
<% } %>