<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="/repos/<%= repo %>"><%= repo %></a></li>
  <li class="active"><a href="#"><%= ref.name() %></a></li>
</ul>
<dl>
<dt>Current Version</dt>
<dd>
<% if (ref.isSymbolic()) { %>
  <p><a href="/<%= repo %>/refs/<%= ref.symbolicTarget() %>"><%= ref.symbolicTarget() %></a></p>
  <button type="button" class="btn btn-default"><a href="/<%= repo %>/refs/<%= ref.symbolicTarget() %>/">View Tree</a></button>
<% } else { %>
  <p><a href="/repos/<%= repo %>/commits/<%= ref.oid() %>"><%= ref.oid() %></a></p>
  <button type="button" class="btn btn-default"><a href="/repos/<%= repo %>/<%= ref.name() %>/">View Tree</a></button>
<% } %>
  <button type="button" class="btn btn-default"><a href="/repos/<%= repo %>/<%= ref.name() %>/commits">Full History</a></button>
</dd>
</dl>
<% include ../foot.html.ejs %>