<h1><%= repo %></h1>
<h2><%= ref.name() %></h2>
<% if (ref.isSymbolic()) { %>
  <p><a href="/<%= repo %>/refs/<%= ref.symbolicTarget() %>"><%= ref.symbolicTarget() %></a></p>
<% } else { %>
  <p><a href="/<%= repo %>/commits/<%= ref.oid() %>"><%= ref.oid() %></a></p>
<% } %>