<% include ../_head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li><a href="<%= url.refs(repo) %>">Refs</a></li>
  <li class="active"><%= ref %></li>
</ul>
<dl>
<dt>Current Version</dt>
<dd>
<% if (ref.isSymbolic()) { %>
  <p><a href="<%= url.ref(repo, ref.symbolicTarget()) %>"><%= ref.symbolicTarget() %></a></p>
  <a href="<%= url.refTreeEntry(repo, ref.symbolicTarget()) %>"><button type="button" class="btn btn-default">View Tree</button></a>
<% } else { %>
  <p><a href="<%= url.commit(repo, ref.target()) %>"><%= ref.target() %></a></p>

  <a href="<%= url.refTreeEntry(repo, ref) %>"><button type="button" class="btn btn-default">View Tree</button></a>
<% } %>
  <a href="<%= url.refCommits(repo, ref) %>"><button type="button" class="btn btn-default">Full History</button></a>
</dd>
</dl>
<% include ../_foot.html.ejs %>