<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li><a href="<%= url.refs(repo) %>">Refs</a></li>
  <li class="active"><%= ref %></li>
</ul>
<dl>
<dt>Current Version</dt>
<dd>
<% if (ref.isSymbolic()) { %>
  <p><a href="<%= url.ref(repo, ref.symbolicTarget()) %>"><%= ref.symbolicTarget() %></a></p>
  <button type="button" class="btn btn-default"><a href="<%= url.refTreeEntry(repo, ref.symbolicTarget()) %>">View Tree</a></button>
<% } else { %>
  <p><a href="<%= url.commit(repo, ref.oid()) %>"><%= ref.oid() %></a></p>

  <button type="button" class="btn btn-default"><a href="<%= url.ref(repo, ref) %>/">View Tree</a></button>
<% } %>
  <button type="button" class="btn btn-default"><a href="<%= url.refCommits(repo, ref) %>">Full History</a></button>
</dd>
</dl>
<% include ../foot.html.ejs %>