<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li><a href="<%= url.refs(repo) %>">Refs</a></li>
  <li><a href="<%= url.ref(repo, ref) %>"><%= ref %></a></li>
  <li class="active">Commits</li>
</ul>
<h1>History</h1>
<ol>
<%
  for (var c in commits) {
    var commit = commits[c];
%>
<li>
  <dl>
    <dt>commit</dt>
    <dd><a href="<%= url.commit(repo, commit) %>"><%= commit %></a></dd>
    <dt>Message</dt>
    <dd><%= commit.message() %></dd>
    <dt>Author</dt>
    <dd><%= commit.author() %></dd>
    <dt>Date</dt>
    <dd><%= commit.date() %></dd>
  </dl>
</li>
<% } %>
</ol>
<% include ../foot.html.ejs %>