<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="/repos/<%= repo %>"><%= repo %></a></li>
  <li><a href="#"><%= ref.name() %></a></li>
  <li class="active">Commits</li>
</ul>
<h1>History</h1>
<ol>
<%
  for (var c in commits) {
    var commit = commits[c];
%>
<li>
  <dl>
    <dt>commit</dt>
    <dd><a href="/repos/<%= repo %>/commits/<%= commit %>"><%= commit %></a></dd>
    <dt>Author</dt>
    <dd><%= commit.author() %></dd>
    <dt>Date</dt>
    <dd><%= commit.date() %></dd>
  </dl>
</li>
<% } %>
</ol>
<% include ../foot.html.ejs %>