<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="/repos/<%= repo %>"><%= repo %></a></li>
  <li>Commits</li>
  <li class="active"><%= commit %></li>
</ul>
<p><%= commit.message() %></p>
<dl>
<dt>Author</dt>
<dd><p><%= commit.author() %></p></dd>
<dt>Date</dt>
<dd><p><%= commit.date() %></p></dd>
</dl>
<h2>Parents</h2>
<ol>
<%
  var parents = commit.parents();
  for (var p in parents) {
    var parent = parents[p];
%>
  <li><a href="/repos/<%= repo %>/commits/<%= parent %>"><%= parent %></a></li>
<% } %>
</ol>
<button type="button" class="btn btn-default"><a href="/repos/<%= repo %>/commits/<%= commit %>/">View Tree</a></button>
<% include ../foot.html.ejs %>