<% include ../_head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li>Commits</li>
  <li class="active"><%= commit %></li>
</ul>
<pre><%= commit.message() %></pre>
<dl>
  <dt>Author</dt>
  <dd><p><%= commit.author() %></p></dd>
  <dt>Date</dt>
  <dd><p><%= commit.date() %></p></dd>
  <dt>Parents</dt>
  <dd>
    <ol>
    <%
      var parents = commit.parents();
      for (var p in parents) {
        var parent = parents[p];
    %>
      <li><a href="<%= url.commit(repo, parent) %>"><%= parent %></a></li>
    <% } %>
    </ol>
  </dd>
</dl>
<a href="<%= url.commitTreeEntry(repo, commit) %>"><button type="button" class="btn btn-default">View Tree</button></a>
<% diffList[0].patches().forEach(function(patch) { %>
  <h4><%= patch.oldFile().path() %>, <%= patch.newFile().path() %></h4>
  <table class="table table-bordered table-condensed">
    <% patch.hunks().forEach(function(hunk) { %>
      <tr class="warning"><td>...</td><td>...</td><td><%= hunk.header() %></td></tr>
      <% hunk.lines().forEach(function(line) { %>
        <% var clazz = line.lineOrigin == 43 ? 'success' : line.lineOrigin == 45 ? 'danger' : 'sucess' %>
        <tr class="<%= clazz %>">
          <td class="text-center"><%= line.oldLineNumber == -1 ? '' : line.oldLineNumber %></td>
          <td class="text-center"><%= line.newLineNumber == -1 ? '' : line.newLineNumber %></td><td><code><%= String.fromCharCode(line.lineOrigin) %> <%= line.content.trim() %></code></td>
        </tr>
      <% }) %>
    <% }) %>
  </table>
<% }) %>
<% include ../_foot.html.ejs %>