<% include ../head.html.ejs %>
<ul class="breadcrumb">
  <li><a href="<%= url.repo(repo) %>"><%= repo %></a></li>
  <li>Commits</li>
  <li class="active"><%= commit %></li>
</ul>
<p><%= commit.message() %></p>
<dl>
<dt>Author</dt>
<dd><p><%= commit.author() %></p></dd>
<dt>Date</dt>
<dd><p><%= commit.date() %></p></dd>
</dl>
<a href="<%= url.commitTreeEntry(repo, commit) %>"><button type="button" class="btn btn-default">View Tree</button></a>
<h2>Parents</h2>
<ol>
<%
  var parents = commit.parents();
  for (var p in parents) {
    var parent = parents[p];
%>
  <li><a href="<%= url.commit(repo, parent) %>"><%= parent %></a></li>
<% } %>
</ol>
<% include ../foot.html.ejs %>